/* Site Fonts */
@font-face {
  font-family: "Nov-Medium";
  src: url("./assets/fonts/Nov-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nov-MediumItalic";
  src: url("./assets/fonts/Nov-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nov-Regular";
  src: url("./assets/fonts/Nov-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nov-SemiLightItalic";
  src: url("./assets/fonts/Nov-SemiLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TitleBroadOutlineMedium";
  src: url("./assets/fonts/TitleBroadOutlineMedium.ttf") format("truetype");
}




/* Global App Parameters */
.App {
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
